<nav class="navbar navbar-inverse navbar-fixed-bottom" style="background:transparent;">
  <div class="container-fluid">

      <button class="hamburger hamburger--squeeze pull-right" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div class="xtra-links">
        <div class="list-group">
          <a href="/index.html" class="list-group-item active">Home</a>
          <a href="/alt-layout.html" class="list-group-item">Extra Page 1</a>
          <a href="#" class="list-group-item">Extra Page 2</a>
          <a href="#" class="list-group-item">Extra Page 3</a>
        </div>
      </div>
    <%- image_tag('img/page-move.svg', {alt: 'Swipe page to navigate!', class: 'visible-xs-block', width: '50', height: 'auto'}) %>
    <p class="navbar-text hidden-xs">You can use your <i class="fa fa-keyboard-o fa-lg"></i> <span class="sr-only">keyboard</span> to nav</p>
  </div>
</nav>