<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="h1"><small>About</small><br> Next Step</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, nisi temporibus ut vero illum molestiae laborum possimus esse cupiditate magnam sint quae, culpa cum eligendi consequuntur ipsam similique. Velit, voluptate.</p>
    </div>
  </div>
</div>