<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Volunteer</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolore accusantium quas libero. Assumenda omnis enim cumque distinctio doloremque aperiam quibusdam, praesentium, fugit laboriosam possimus ducimus accusamus voluptatem dolor, expedita.</p>
  </div>
</div>