<div class="intro container">
	<%- image_tag('img/next-step-logo.svg', {alt: 'Next Step in Residential and Day Services logo', id: 'next-step-logo'}) %>
	<p class="lead">Tagline goes right here</p>
</div>